.primary-container{
    padding: 50px;
}

.primary-container h1 {
    margin-bottom: 16px;
}

.primary-container input {
    margin-bottom: 12px;
    width: 100%;
    padding: 2px;
    border: none;
    border-bottom: 2px solid black;
    outline: none;
    font-size: 1.25rem;
}

.list-of-cities {
    list-style: none;
    font-size: clamp(0.875rem, 0.6793rem + 0.6522vw, 1.25rem);
}